body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:49px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:20px;
    top:10px;
    width:313px;
    height:619px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u3 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../动感相册--专辑_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u6_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:49px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../动感相册--专辑_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:45px;
    top:125px;
    width:255px;
    height:49px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u10_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:49px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../动感相册--专辑_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:253px;
    top:136px;
    width:49px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:52px;
    top:136px;
    width:58px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:116px;
    top:139px;
    width:127px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:52px;
    top:136px;
    width:58px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u18_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:61px;
    top:190px;
    width:68px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:142px;
    top:190px;
    width:68px;
    height:60px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u21 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:221px;
    top:190px;
    width:68px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:60px;
    top:263px;
    width:68px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u26_container {
    position:absolute;
    left:142px;
    top:263px;
    width:68px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u28_container {
    position:absolute;
    left:220px;
    top:263px;
    width:68px;
    height:60px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u29 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:61px;
    top:334px;
    width:68px;
    height:60px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u31 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u32_container {
    position:absolute;
    left:143px;
    top:334px;
    width:68px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u33 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:221px;
    top:334px;
    width:68px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:393px;
    top:36px;
    width:447px;
    height:240px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../动感相册--专辑_files/u18_normal.png');
}

.u37_container {
    position:absolute;
    left:61px;
    top:404px;
    width:68px;
    height:60px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:66px;
}

.u38 {
    position:absolute;
    left:2px;
    top:24px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:54px;
    top:180px;
    width:245px;
    height:290px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u40 {
    position:absolute;
    left:45px;
    top:125px;
    width:265px;
    height:381px;
    overflow:hidden;
}

#pd4u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:381px;
    
}

.u41_normal {
    background-image: url('../动感相册--专辑_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:400px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:406px;
}

.u42 {
    position:absolute;
    left:2px;
    top:192px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u43_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u44 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u45_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u46 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../动感相册--专辑_files/u8_normal.png');
}

.u47_container {
    position:absolute;
    left:1px;
    top:0px;
    width:255px;
    height:49px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u48 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u49_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u50 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u51_container {
    position:absolute;
    left:8px;
    top:11px;
    width:58px;
    height:26px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:72px;
    top:14px;
    width:127px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u54_container {
    position:absolute;
    left:203px;
    top:12px;
    width:58px;
    height:26px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../动感相册--专辑_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:4px;
    top:59px;
    width:256px;
    height:41px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:47px;
}

.u57 {
    position:absolute;
    left:2px;
    top:14px;
    width:252px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../动感相册--专辑_files/u56_normal.png');
}

.u58_container {
    position:absolute;
    left:4px;
    top:110px;
    width:256px;
    height:41px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:47px;
}

.u59 {
    position:absolute;
    left:2px;
    top:14px;
    width:252px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:70px;
    top:116px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#D7D7D7;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_text_sketch {
    font-family: 'Applied Font';
}

.u61 {
    position:absolute;
    left:70px;
    top:67px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#D7D7D7;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_text_sketch {
    font-family: 'Applied Font';
}

#u62 {
    position:absolute;
    left:2px;
    top:217px;
    width:264px;
    height:177px;
    overflow:hidden;
}

#pd0u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:177px;
    
}

.u63_normal {
    background-image: url('../动感相册--专辑_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:1px;
    width:263px;
    height:177px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:177px;
}

.u64 {
    position:absolute;
    left:2px;
    top:80px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:381px;
    
}

.u65_normal {
    background-image: url('../动感相册--专辑_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:-10px;
    top:-10px;
    width:280px;
    height:390px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:396px;
}

.u66 {
    position:absolute;
    left:2px;
    top:187px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../动感相册--专辑_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:-1px;
    top:232px;
    width:270px;
    height:90px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:96px;
}

.u68 {
    position:absolute;
    left:2px;
    top:37px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../动感相册--专辑_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:274px;
    height:3px;
}

.u69 {
    position:absolute;
    left:-5px;
    top:275px;
    width:274px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:52px;
    top:245px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:52px;
    top:292px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u72 {
    position:absolute;
    left:-1px;
    top:232px;
    width:270px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u73 {
    position:absolute;
    left:0px;
    top:285px;
    width:270px;
    height:37px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u74_normal {
    background-image: url('../动感相册--专辑_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:332px;
    width:269px;
    height:48px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:275px;
    height:54px;
}

.u75 {
    position:absolute;
    left:2px;
    top:16px;
    width:265px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:52px;
    top:346px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u77 {
    position:absolute;
    left:0px;
    top:338px;
    width:270px;
    height:37px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:381px;
    
}

.u78_normal {
    background-image: url('../动感相册--专辑_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:1px;
    top:1px;
    width:262px;
    height:379px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:268px;
    height:385px;
}

.u79 {
    position:absolute;
    left:2px;
    top:182px;
    width:258px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../动感相册--专辑_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:21px;
    top:20px;
    width:222px;
    height:300px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:306px;
}

.u81 {
    position:absolute;
    left:2px;
    top:144px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../动感相册--专辑_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:221px;
    top:17px;
    width:25px;
    height:18px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:24px;
}

.u83 {
    position:absolute;
    left:2px;
    top:0px;
    width:21px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u84 {
    position:absolute;
    left:10px;
    top:-10px;
    width:237px;
    height:300px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u85 {
    position:absolute;
    left:87px;
    top:330px;
    width:59px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:140px;
    top:330px;
    width:103px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u87 {
    position:absolute;
    left:70px;
    top:320px;
    width:190px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:381px;
    
}

.u88_normal {
    background-image: url('../动感相册--专辑_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:1px;
    top:49px;
    width:263px;
    height:46px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:52px;
}

.u89 {
    position:absolute;
    left:2px;
    top:15px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../动感相册--专辑_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:1px;
    top:49px;
    width:50px;
    height:46px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:52px;
}

.u91 {
    position:absolute;
    left:2px;
    top:15px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:11px;
    top:59px;
    width:38px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:58px;
    top:62px;
    width:160px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../动感相册--专辑_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:1px;
    top:94px;
    width:263px;
    height:54px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:60px;
}

.u95 {
    position:absolute;
    left:2px;
    top:19px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../动感相册--专辑_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:1px;
    top:94px;
    width:50px;
    height:54px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:60px;
}

.u97 {
    position:absolute;
    left:2px;
    top:19px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../动感相册--专辑_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:1px;
    top:149px;
    width:263px;
    height:58px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:64px;
}

.u99 {
    position:absolute;
    left:2px;
    top:21px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../动感相册--专辑_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:1px;
    top:149px;
    width:50px;
    height:58px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:64px;
}

.u101 {
    position:absolute;
    left:2px;
    top:21px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:7px;
    top:101px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:58px;
    top:109px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:245px;
    top:109px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:7px;
    top:157px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:58px;
    top:165px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:245px;
    top:165px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../动感相册--专辑_files/u98_normal.png');
}

.u108_container {
    position:absolute;
    left:1px;
    top:208px;
    width:263px;
    height:58px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:64px;
}

.u109 {
    position:absolute;
    left:2px;
    top:21px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../动感相册--专辑_files/u100_normal.png');
}

.u110_container {
    position:absolute;
    left:1px;
    top:208px;
    width:50px;
    height:58px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:64px;
}

.u111 {
    position:absolute;
    left:2px;
    top:21px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:7px;
    top:215px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:58px;
    top:224px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:245px;
    top:224px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../动感相册--专辑_files/u98_normal.png');
}

.u115_container {
    position:absolute;
    left:1px;
    top:266px;
    width:263px;
    height:58px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:64px;
}

.u116 {
    position:absolute;
    left:2px;
    top:21px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../动感相册--专辑_files/u100_normal.png');
}

.u117_container {
    position:absolute;
    left:1px;
    top:266px;
    width:50px;
    height:58px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:64px;
}

.u118 {
    position:absolute;
    left:2px;
    top:21px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:7px;
    top:273px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:58px;
    top:282px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:245px;
    top:282px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../动感相册--专辑_files/u98_normal.png');
}

.u122_container {
    position:absolute;
    left:1px;
    top:324px;
    width:263px;
    height:58px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:64px;
}

.u123 {
    position:absolute;
    left:2px;
    top:21px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../动感相册--专辑_files/u100_normal.png');
}

.u124_container {
    position:absolute;
    left:1px;
    top:324px;
    width:50px;
    height:58px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:64px;
}

.u125 {
    position:absolute;
    left:2px;
    top:21px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:7px;
    top:331px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:58px;
    top:340px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:245px;
    top:340px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../动感相册--专辑_files/u98_normal.png');
}

.u129_container {
    position:absolute;
    left:1px;
    top:382px;
    width:263px;
    height:58px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:64px;
}

.u130 {
    position:absolute;
    left:2px;
    top:21px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../动感相册--专辑_files/u100_normal.png');
}

.u131_container {
    position:absolute;
    left:1px;
    top:382px;
    width:50px;
    height:58px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:64px;
}

.u132 {
    position:absolute;
    left:2px;
    top:21px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:7px;
    top:389px;
    width:32px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:58px;
    top:398px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:245px;
    top:398px;
    width:16px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u136_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u137 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u138_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u139 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../动感相册--专辑_files/u8_normal.png');
}

.u140_container {
    position:absolute;
    left:1px;
    top:0px;
    width:255px;
    height:49px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u141 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u142_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u143 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u144_container {
    position:absolute;
    left:8px;
    top:11px;
    width:58px;
    height:26px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u145 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:72px;
    top:14px;
    width:127px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u147 {
    position:absolute;
    left:0px;
    top:49px;
    width:264px;
    height:45px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u148 {
    position:absolute;
    left:0px;
    top:104px;
    width:264px;
    height:336px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u149 {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:394px;
    overflow:hidden;
}

#pd0u149 {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:394px;
    
}

.u150_normal {
    background-image: url('../动感相册--专辑_files/u41_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:400px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:406px;
}

.u151 {
    position:absolute;
    left:2px;
    top:192px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u152_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u153 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u154_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u155 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../动感相册--专辑_files/u8_normal.png');
}

.u156_container {
    position:absolute;
    left:1px;
    top:0px;
    width:255px;
    height:49px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u157 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u158_container {
    position:absolute;
    left:1px;
    top:0px;
    width:263px;
    height:49px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u159 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u160_container {
    position:absolute;
    left:8px;
    top:11px;
    width:58px;
    height:26px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u161 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:72px;
    top:14px;
    width:127px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u163_container {
    position:absolute;
    left:203px;
    top:12px;
    width:58px;
    height:26px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u164 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../动感相册--专辑_files/u56_normal.png');
}

.u165_container {
    position:absolute;
    left:4px;
    top:59px;
    width:256px;
    height:41px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:47px;
}

.u166 {
    position:absolute;
    left:2px;
    top:14px;
    width:252px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../动感相册--专辑_files/u56_normal.png');
}

.u167_container {
    position:absolute;
    left:4px;
    top:110px;
    width:256px;
    height:41px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:47px;
}

.u168 {
    position:absolute;
    left:2px;
    top:14px;
    width:252px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:70px;
    top:116px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#D7D7D7;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u169_text_sketch {
    font-family: 'Applied Font';
}

.u170 {
    position:absolute;
    left:70px;
    top:67px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#D7D7D7;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u170_text_sketch {
    font-family: 'Applied Font';
}

#u171 {
    position:absolute;
    left:2px;
    top:217px;
    width:264px;
    height:177px;
    overflow:hidden;
}

#pd0u171 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:177px;
    
}

.u172_normal {
    background-image: url('../动感相册--专辑_files/u63_normal.png');
}

.u172_container {
    position:absolute;
    left:0px;
    top:1px;
    width:263px;
    height:177px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:177px;
}

.u173 {
    position:absolute;
    left:2px;
    top:80px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:381px;
    
}

.u174_normal {
    background-image: url('../动感相册--专辑_files/u4_normal.png');
}

.u174_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:380px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u175 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../动感相册--专辑_files/u176_normal.png');
}

.u176_container {
    position:absolute;
    left:16px;
    top:63px;
    width:225px;
    height:50px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:56px;
}

.u177 {
    position:absolute;
    left:2px;
    top:17px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:21px;
    top:68px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../动感相册--专辑_files/u179_normal.png');
}

.u179_container {
    position:absolute;
    left:16px;
    top:122px;
    width:225px;
    height:54px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:60px;
}

.u180 {
    position:absolute;
    left:2px;
    top:19px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../动感相册--专辑_files/u181_normal.png');
}

.u181_container {
    position:absolute;
    left:21px;
    top:128px;
    width:47px;
    height:41px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:47px;
}

.u182 {
    position:absolute;
    left:2px;
    top:14px;
    width:43px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../动感相册--专辑_files/u183_normal.png');
}

.u183_container {
    position:absolute;
    left:78px;
    top:129px;
    width:41px;
    height:40px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:40px;
}

.u184 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../动感相册--专辑_files/u185_normal.png');
}

.u185_container {
    position:absolute;
    left:16px;
    top:193px;
    width:225px;
    height:30px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:36px;
}

.u186 {
    position:absolute;
    left:2px;
    top:7px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:21px;
    top:198px;
    width:72px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:166px;
    top:198px;
    width:60px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:223px;
    top:196px;
    width:15px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../动感相册--专辑_files/u190_normal.png');
}

.u190_container {
    position:absolute;
    left:40px;
    top:243px;
    width:66px;
    height:30px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:36px;
}

.u191 {
    position:absolute;
    left:2px;
    top:8px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../动感相册--专辑_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:165px;
    top:243px;
    width:66px;
    height:30px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:36px;
}

.u193 {
    position:absolute;
    left:2px;
    top:8px;
    width:62px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u194 {
    position:absolute;
    left:163px;
    top:193px;
    width:78px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u195 {
    position:absolute;
    left:40px;
    top:243px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u196_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u196_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u197 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u198_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u199 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../动感相册--专辑_files/u8_normal.png');
}

.u200_container {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:49px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u201 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../动感相册--专辑_files/u0_normal.png');
}

.u202_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u203 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../动感相册--专辑_files/u12_normal.png');
}

.u204_container {
    position:absolute;
    left:208px;
    top:11px;
    width:49px;
    height:25px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u205 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../动感相册--专辑_files/u14_normal.png');
}

.u206_container {
    position:absolute;
    left:7px;
    top:11px;
    width:58px;
    height:26px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u207 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:71px;
    top:14px;
    width:127px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u209 {
    position:absolute;
    left:208px;
    top:11px;
    width:50px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

