body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../明星宝宝的副本_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:54px;
    top:13px;
    width:296px;
    height:657px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:296px;
    height:657px;
}

.u1 {
    position:absolute;
    left:2px;
    top:320px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:77px;
    top:106px;
    width:251px;
    height:447px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:447px;
}

.u3 {
    position:absolute;
    left:2px;
    top:216px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:86px;
    top:127px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:78px;
    top:163px;
    width:247px;
    height:292px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:77px;
    top:106px;
    width:251px;
    height:448px;
    overflow:hidden;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:448px;
    
}

.u7_normal {
    background-image: url('../明星宝宝的副本_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:-1px;
    top:-1px;
    width:253px;
    height:450px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:456px;
}

.u8 {
    position:absolute;
    left:2px;
    top:217px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../明星宝宝的副本_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:16px;
    top:40px;
    width:220px;
    height:331px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:331px;
}

.u10 {
    position:absolute;
    left:2px;
    top:158px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:-1px;
    top:-1px;
    width:253px;
    height:450px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

