body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../选择_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:54px;
    top:13px;
    width:296px;
    height:657px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:296px;
    height:657px;
}

.u1 {
    position:absolute;
    left:2px;
    top:320px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:77px;
    top:106px;
    width:251px;
    height:446px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:446px;
}

.u3 {
    position:absolute;
    left:2px;
    top:215px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:83px;
    top:130px;
    width:32px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:290px;
    top:130px;
    width:30px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:83px;
    top:160px;
    width:240px;
    height:365px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:77px;
    top:106px;
    width:252px;
    height:447px;
    overflow:hidden;
}

#pd1u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:447px;
    
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:450px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:450px;
}

.u9 {
    position:absolute;
    left:2px;
    top:217px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:9px;
    top:410px;
    width:30px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:212px;
    top:410px;
    width:37px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:447px;
    
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:450px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:450px;
}

.u13 {
    position:absolute;
    left:2px;
    top:217px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:214px;
    top:21px;
    width:32px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u15 {
    position:absolute;
    left:0px;
    top:50px;
    width:253px;
    height:390px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

