body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:12px;
    top:13px;
    width:313px;
    height:619px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u1 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../更换背景_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:36px;
    top:126px;
    width:255px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../更换背景_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:36px;
    top:126px;
    width:264px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:48px;
    top:214px;
    width:75px;
    height:62px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u7 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:48px;
    top:188px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u9_container {
    position:absolute;
    left:48px;
    top:314px;
    width:75px;
    height:62px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u10 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:48px;
    top:288px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:130px;
    top:314px;
    width:75px;
    height:62px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u13 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:212px;
    top:314px;
    width:75px;
    height:62px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u15 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:48px;
    top:382px;
    width:75px;
    height:62px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u17 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:130px;
    top:382px;
    width:75px;
    height:62px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u19 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../更换背景_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:212px;
    top:382px;
    width:75px;
    height:62px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:68px;
}

.u21 {
    position:absolute;
    left:2px;
    top:23px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../更换背景_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:36px;
    top:126px;
    width:263px;
    height:49px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:107px;
    top:140px;
    width:132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:43px;
    top:175px;
    width:247px;
    height:269px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u26_normal {
    background-image: url('../更换背景_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:43px;
    top:137px;
    width:58px;
    height:26px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

