body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../通知公告的副本_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:54px;
    top:13px;
    width:296px;
    height:657px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:296px;
    height:657px;
}

.u1 {
    position:absolute;
    left:2px;
    top:320px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:77px;
    top:106px;
    width:251px;
    height:447px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:447px;
}

.u3 {
    position:absolute;
    left:2px;
    top:216px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:84px;
    top:123px;
    width:28px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:77px;
    top:160px;
    width:252px;
    height:91px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:77px;
    top:259px;
    width:252px;
    height:45px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:77px;
    top:306px;
    width:252px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:79px;
    top:355px;
    width:252px;
    height:44px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:78px;
    top:404px;
    width:252px;
    height:36px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:77px;
    top:453px;
    width:252px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

