body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u1 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../明星教师_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:24px;
    top:113px;
    width:263px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../明星教师_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:24px;
    top:113px;
    width:263px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../明星教师_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:24px;
    top:113px;
    width:263px;
    height:49px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../明星教师_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:32px;
    top:125px;
    width:58px;
    height:26px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:115px;
    top:128px;
    width:90px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:27px;
    top:172px;
    width:254px;
    height:288px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:254px;
    height:288px;
}

.u12 {
    position:absolute;
    left:2px;
    top:136px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:32px;
    top:125px;
    width:58px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u14 {
    position:absolute;
    left:340px;
    top:30px;
    width:577px;
    height:420px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:338px;
    top:491px;
    width:570px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:37px;
    top:172px;
    width:233px;
    height:288px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

