body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../食谱的副本_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:54px;
    top:13px;
    width:296px;
    height:657px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:296px;
    height:657px;
}

.u1 {
    position:absolute;
    left:2px;
    top:320px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../食谱的副本_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:77px;
    top:106px;
    width:251px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:88px;
    top:128px;
    width:22px;
    height:19px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:77px;
    top:155px;
    width:251px;
    height:398px;
    overflow:hidden;
}

#pd4u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:398px;
    
}

.u6_normal {
    background-image: url('../食谱的副本_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:255px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:261px;
}

.u7 {
    position:absolute;
    left:2px;
    top:120px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../食谱的副本_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:10px;
    width:220px;
    height:37px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:43px;
}

.u9 {
    position:absolute;
    left:2px;
    top:11px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../食谱的副本_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:57px;
    width:220px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../食谱的副本_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:97px;
    width:220px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../食谱的副本_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:137px;
    width:220px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../食谱的副本_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:181px;
    width:220px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:56px;
}

.u17 {
    position:absolute;
    left:2px;
    top:17px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:13px;
    top:187px;
    width:210px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:398px;
    
}

.u19_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:253px;
    height:400px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:400px;
}

.u20 {
    position:absolute;
    left:2px;
    top:192px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:398px;
    
}

.u21_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:252px;
    height:400px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:400px;
}

.u22 {
    position:absolute;
    left:2px;
    top:192px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:398px;
    
}

.u23_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:252px;
    height:400px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:400px;
}

.u24 {
    position:absolute;
    left:2px;
    top:192px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:398px;
    
}

.u25_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:252px;
    height:399px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:399px;
}

.u26 {
    position:absolute;
    left:2px;
    top:192px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u27 {
    position:absolute;
    left:77px;
    top:155px;
    width:59px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u28 {
    position:absolute;
    left:139px;
    top:156px;
    width:56px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u29 {
    position:absolute;
    left:200px;
    top:156px;
    width:55px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u30 {
    position:absolute;
    left:260px;
    top:157px;
    width:54px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

