body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:2px;
    top:3px;
    width:313px;
    height:619px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u1 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:26px;
    top:115px;
    width:263px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../随便逛逛_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:26px;
    top:115px;
    width:263px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../随便逛逛_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:81px;
    top:386px;
    width:180px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../随便逛逛_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:83px;
    top:280px;
    width:180px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:83px;
    top:253px;
    width:180px;
    height:22px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u11 {
    position:absolute;
    left:2px;
    top:3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:36px;
    top:253px;
    width:34px;
    height:23px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../随便逛逛_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:213px;
    top:171px;
    width:62px;
    height:21px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:27px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:58px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../随便逛逛_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:122px;
    top:170px;
    width:73px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:69px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:26px;
    top:115px;
    width:263px;
    height:49px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../随便逛逛_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:236px;
    top:125px;
    width:46px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:110px;
    top:129px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:83px;
    top:213px;
    width:206px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../随便逛逛_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:45px;
    top:201px;
    width:26px;
    height:38px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:38px;
}

.u25 {
    position:absolute;
    left:2px;
    top:11px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:340px;
    top:40px;
    width:577px;
    height:300px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:330px;
    top:359px;
    width:570px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:34px;
    top:250px;
    width:39px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u29_normal {
    background-image: url('../随便逛逛_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1083px;
    top:669px;
    width:145px;
    height:42px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:48px;
}

.u30 {
    position:absolute;
    left:2px;
    top:0px;
    width:141px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1334px;
    top:27px;
    width:166px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:1334px;
    top:60px;
    width:577px;
    height:200px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:120px;
    top:168px;
    width:78px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:203px;
    top:168px;
    width:82px;
    height:27px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u35_normal {
    background-image: url('../随便逛逛_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:36px;
    top:171px;
    width:68px;
    height:21px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:27px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:32px;
    top:168px;
    width:80px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u38_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u38_container {
    position:absolute;
    left:81px;
    top:359px;
    width:180px;
    height:22px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u39 {
    position:absolute;
    left:2px;
    top:3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u40_container {
    position:absolute;
    left:34px;
    top:359px;
    width:34px;
    height:23px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u41 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:32px;
    top:356px;
    width:39px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u43_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u43_container {
    position:absolute;
    left:81px;
    top:463px;
    width:180px;
    height:22px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u44 {
    position:absolute;
    left:2px;
    top:3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u45_container {
    position:absolute;
    left:34px;
    top:463px;
    width:34px;
    height:23px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u46 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:32px;
    top:460px;
    width:39px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u48_normal {
    background-image: url('../随便逛逛_files/u29_normal.png');
}

.u48_container {
    position:absolute;
    left:62px;
    top:658px;
    width:145px;
    height:42px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:48px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:141px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_container {
    position:absolute;
    left:979px;
    top:3px;
    width:313px;
    height:619px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u51 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u52_container {
    position:absolute;
    left:1003px;
    top:115px;
    width:263px;
    height:49px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u53 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../随便逛逛_files/u4_normal.png');
}

.u54_container {
    position:absolute;
    left:1003px;
    top:115px;
    width:263px;
    height:380px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u55 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../随便逛逛_files/u6_normal.png');
}

.u56_container {
    position:absolute;
    left:1058px;
    top:386px;
    width:180px;
    height:60px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u57 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../随便逛逛_files/u6_normal.png');
}

.u58_container {
    position:absolute;
    left:1060px;
    top:280px;
    width:180px;
    height:60px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u59 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u60_container {
    position:absolute;
    left:1060px;
    top:253px;
    width:180px;
    height:22px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u62_container {
    position:absolute;
    left:1013px;
    top:253px;
    width:34px;
    height:23px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u63 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../随便逛逛_files/u14_normal.png');
}

.u64_container {
    position:absolute;
    left:1190px;
    top:171px;
    width:62px;
    height:21px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:27px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:58px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../随便逛逛_files/u16_normal.png');
}

.u66_container {
    position:absolute;
    left:1099px;
    top:171px;
    width:73px;
    height:22px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:28px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:69px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u68_container {
    position:absolute;
    left:1003px;
    top:115px;
    width:263px;
    height:49px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u69 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../随便逛逛_files/u20_normal.png');
}

.u70_container {
    position:absolute;
    left:1213px;
    top:125px;
    width:46px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:1094px;
    top:129px;
    width:90px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1060px;
    top:213px;
    width:206px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../随便逛逛_files/u24_normal.png');
}

.u74_container {
    position:absolute;
    left:1022px;
    top:201px;
    width:26px;
    height:38px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:38px;
}

.u75 {
    position:absolute;
    left:2px;
    top:11px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../随便逛逛_files/u35_normal.png');
}

.u76_container {
    position:absolute;
    left:1013px;
    top:171px;
    width:68px;
    height:21px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:27px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:64px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u78_container {
    position:absolute;
    left:1058px;
    top:359px;
    width:180px;
    height:22px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u80_container {
    position:absolute;
    left:1011px;
    top:359px;
    width:34px;
    height:23px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u81 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../随便逛逛_files/u10_normal.png');
}

.u82_container {
    position:absolute;
    left:1058px;
    top:463px;
    width:180px;
    height:22px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../随便逛逛_files/u12_normal.png');
}

.u84_container {
    position:absolute;
    left:1011px;
    top:463px;
    width:34px;
    height:23px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:29px;
}

.u85 {
    position:absolute;
    left:2px;
    top:5px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../随便逛逛_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:1004px;
    top:115px;
    width:263px;
    height:380px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u87 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../随便逛逛_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:1057px;
    top:224px;
    width:180px;
    height:80px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u89 {
    position:absolute;
    left:2px;
    top:15px;
    width:176px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../随便逛逛_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:1078px;
    top:234px;
    width:20px;
    height:29px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:29px;
}

.u91 {
    position:absolute;
    left:2px;
    top:6px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../随便逛逛_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:1083px;
    top:267px;
    width:11px;
    height:26px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:26px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:87px;
    top:258px;
    width:120px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:223px;
    top:254px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:79px;
    top:252px;
    width:193px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u97 {
    position:absolute;
    left:87px;
    top:282px;
    width:173px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:86px;
    top:387px;
    width:173px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:85px;
    top:364px;
    width:120px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:221px;
    top:360px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u101 {
    position:absolute;
    left:78px;
    top:357px;
    width:193px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u102 {
    position:absolute;
    left:85px;
    top:468px;
    width:120px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:221px;
    top:464px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:78px;
    top:461px;
    width:193px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u105 {
    position:absolute;
    left:26px;
    top:194px;
    width:264px;
    height:301px;
    overflow:hidden;
}

#pd2u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:301px;
    
}

.u106_normal {
    background-image: url('../随便逛逛_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:134px;
    top:-2px;
    width:125px;
    height:303px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:303px;
}

.u107 {
    position:absolute;
    left:2px;
    top:144px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../随便逛逛_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:134px;
    top:0px;
    width:126px;
    height:300px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:306px;
}

.u109 {
    position:absolute;
    left:2px;
    top:142px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../随便逛逛_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:134px;
    top:0px;
    width:126px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u111 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../随便逛逛_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:134px;
    top:30px;
    width:126px;
    height:30px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u113 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../随便逛逛_files/u112_normal.png');
}

.u114_container {
    position:absolute;
    left:134px;
    top:60px;
    width:126px;
    height:30px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u115 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../随便逛逛_files/u112_normal.png');
}

.u116_container {
    position:absolute;
    left:134px;
    top:90px;
    width:126px;
    height:30px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u117 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../随便逛逛_files/u112_normal.png');
}

.u118_container {
    position:absolute;
    left:134px;
    top:120px;
    width:126px;
    height:30px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u119 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../随便逛逛_files/u112_normal.png');
}

.u120_container {
    position:absolute;
    left:134px;
    top:150px;
    width:126px;
    height:30px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:36px;
}

.u121 {
    position:absolute;
    left:2px;
    top:8px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u122 {
    position:absolute;
    left:135px;
    top:0px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u123 {
    position:absolute;
    left:135px;
    top:30px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u124 {
    position:absolute;
    left:134px;
    top:60px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u125 {
    position:absolute;
    left:134px;
    top:90px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u126 {
    position:absolute;
    left:134px;
    top:120px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u127 {
    position:absolute;
    left:134px;
    top:150px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:301px;
    
}

.u128_normal {
    background-image: url('../随便逛逛_files/u128_normal.png');
}

.u128_container {
    position:absolute;
    left:96px;
    top:1px;
    width:73px;
    height:23px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:29px;
}

.u129 {
    position:absolute;
    left:2px;
    top:5px;
    width:69px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../随便逛逛_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:96px;
    top:24px;
    width:73px;
    height:23px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:29px;
}

.u131 {
    position:absolute;
    left:2px;
    top:5px;
    width:69px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:96px;
    top:0px;
    width:72px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u133 {
    position:absolute;
    left:96px;
    top:24px;
    width:72px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:301px;
    
}

.u134_normal {
    background-image: url('../随便逛逛_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:300px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:306px;
}

.u135 {
    position:absolute;
    left:2px;
    top:142px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../随便逛逛_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:1px;
    top:1px;
    width:132px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:1px;
    top:30px;
    width:132px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u139 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u140_container {
    position:absolute;
    left:1px;
    top:58px;
    width:132px;
    height:26px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u141 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u142_container {
    position:absolute;
    left:1px;
    top:87px;
    width:132px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u144_container {
    position:absolute;
    left:1px;
    top:116px;
    width:132px;
    height:26px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u145 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u146_container {
    position:absolute;
    left:1px;
    top:145px;
    width:132px;
    height:26px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u147 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u148_container {
    position:absolute;
    left:1px;
    top:174px;
    width:132px;
    height:26px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u149 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u150_container {
    position:absolute;
    left:1px;
    top:203px;
    width:132px;
    height:26px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u151 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u152_container {
    position:absolute;
    left:1px;
    top:232px;
    width:132px;
    height:26px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u154_container {
    position:absolute;
    left:1px;
    top:261px;
    width:132px;
    height:26px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u155 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:290px;
    width:132px;
    height:26px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u157 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u158 {
    position:absolute;
    left:-2px;
    top:1px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u159_normal {
    background-image: url('../随便逛逛_files/u138_normal.png');
}

.u159_container {
    position:absolute;
    left:1px;
    top:321px;
    width:132px;
    height:26px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:32px;
}

.u160 {
    position:absolute;
    left:2px;
    top:6px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:0px;
    top:31px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u162 {
    position:absolute;
    left:0px;
    top:58px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u163 {
    position:absolute;
    left:0px;
    top:88px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u164 {
    position:absolute;
    left:0px;
    top:117px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u165 {
    position:absolute;
    left:0px;
    top:144px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u166 {
    position:absolute;
    left:0px;
    top:174px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u167 {
    position:absolute;
    left:0px;
    top:205px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u168 {
    position:absolute;
    left:0px;
    top:232px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u169 {
    position:absolute;
    left:0px;
    top:262px;
    width:136px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u170_normal {
    background-image: url('../随便逛逛_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:32px;
    top:129px;
    width:48px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u171 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:180px;
    top:130px;
    width:38px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u173 {
    position:absolute;
    left:178px;
    top:130px;
    width:30px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u174 {
    position:absolute;
    left:25px;
    top:116px;
    width:265px;
    height:47px;
    overflow:hidden;
}

#pd0u174 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:47px;
    
}

.u175_normal {
    background-image: url('../随便逛逛_files/u175_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:280px;
    height:61px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:67px;
}

.u176 {
    position:absolute;
    left:2px;
    top:22px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../随便逛逛_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:7px;
    top:10px;
    width:187px;
    height:31px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:31px;
}

.u178 {
    position:absolute;
    left:2px;
    top:8px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:40px;
    top:14px;
    width:144px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u179_text_sketch {
    font-family: 'Applied Font';
}

.u180 {
    position:absolute;
    left:201px;
    top:13px;
    width:53px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u180_text_sketch {
    font-family: 'Applied Font';
}

#u181 {
    position:absolute;
    left:0px;
    top:41px;
    width:285px;
    height:19px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u182 {
    position:absolute;
    left:26px;
    top:319px;
    width:264px;
    height:177px;
    overflow:hidden;
}

#pd0u182 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:177px;
    
}

.u183_normal {
    background-image: url('../随便逛逛_files/u183_normal.png');
}

.u183_container {
    position:absolute;
    left:0px;
    top:1px;
    width:263px;
    height:177px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:177px;
}

.u184 {
    position:absolute;
    left:2px;
    top:80px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u185 {
    position:absolute;
    left:26px;
    top:114px;
    width:264px;
    height:381px;
    overflow:hidden;
}

#pd1u185 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:381px;
    
}

.u186_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u187 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../随便逛逛_files/u4_normal.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:380px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u189 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u191 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../随便逛逛_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:49px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:55px;
}

.u193 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u194_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u195 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../随便逛逛_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:7px;
    top:11px;
    width:48px;
    height:26px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:32px;
}

.u197 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:71px;
    top:14px;
    width:124px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../随便逛逛_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:7px;
    top:57px;
    width:248px;
    height:286px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:292px;
}

.u200 {
    position:absolute;
    left:2px;
    top:135px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../随便逛逛_files/u201_normal.png');
}

.u201_container {
    position:absolute;
    left:7px;
    top:101px;
    width:248px;
    height:108px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:114px;
}

.u202 {
    position:absolute;
    left:2px;
    top:46px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:10px;
    top:57px;
    width:150px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:10px;
    top:105px;
    width:150px;
    height:100px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_line {
    background-image: url('../随便逛逛_files/u205_line.png');
}

.u205_line {
    position:absolute;
    left:0px;
    top:4px;
    width:246px;
    height:3px;
}

.u205 {
    position:absolute;
    left:8px;
    top:120px;
    width:246px;
    height:10px;
    
}

.u206_line {
    background-image: url('../随便逛逛_files/u206_line.png');
}

.u206_line {
    position:absolute;
    left:0px;
    top:4px;
    width:246px;
    height:3px;
}

.u206 {
    position:absolute;
    left:8px;
    top:140px;
    width:246px;
    height:10px;
    
}

.u207_line {
    background-image: url('../随便逛逛_files/u207_line.png');
}

.u207_line {
    position:absolute;
    left:0px;
    top:4px;
    width:246px;
    height:3px;
}

.u207 {
    position:absolute;
    left:8px;
    top:160px;
    width:246px;
    height:10px;
    
}

.u208_line {
    background-image: url('../随便逛逛_files/u208_line.png');
}

.u208_line {
    position:absolute;
    left:0px;
    top:4px;
    width:246px;
    height:3px;
}

.u208 {
    position:absolute;
    left:8px;
    top:180px;
    width:246px;
    height:10px;
    
}

.u209_normal {
    background-image: url('../随便逛逛_files/u209_normal.png');
}

.u209_container {
    position:absolute;
    left:7px;
    top:209px;
    width:248px;
    height:171px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:177px;
}

.u210 {
    position:absolute;
    left:2px;
    top:78px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:10px;
    top:214px;
    width:150px;
    height:220px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u212 {
    position:absolute;
    left:7px;
    top:58px;
    width:249px;
    height:322px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u213 {
    position:absolute;
    left:0px;
    top:204px;
    width:264px;
    height:177px;
    overflow:hidden;
}

#pd0u213 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:177px;
    
}

.u214_normal {
    background-image: url('../随便逛逛_files/u183_normal.png');
}

.u214_container {
    position:absolute;
    left:0px;
    top:1px;
    width:263px;
    height:177px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:177px;
}

.u215 {
    position:absolute;
    left:2px;
    top:80px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u185 {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:381px;
    
}

.u216_normal {
    background-image: url('../随便逛逛_files/u2_normal.png');
}

.u216_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:49px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u217 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../随便逛逛_files/u4_normal.png');
}

.u218_container {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:380px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u219 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../随便逛逛_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:0px;
    top:0px;
    width:199px;
    height:49px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:55px;
}

.u221 {
    position:absolute;
    left:2px;
    top:16px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../随便逛逛_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:223px;
    top:14px;
    width:29px;
    height:21px;
}

#u222_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:21px;
}

.u223 {
    position:absolute;
    left:2px;
    top:2px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:29px;
    top:16px;
    width:90px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_line {
    background-image: url('../随便逛逛_files/u225_line.png');
}

.u225_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:380px;
}

.u225 {
    position:absolute;
    left:203px;
    top:0px;
    width:10px;
    height:380px;
    
}

.u226_normal {
    background-image: url('../随便逛逛_files/u177_normal.png');
}

.u226_container {
    position:absolute;
    left:13px;
    top:59px;
    width:187px;
    height:31px;
}

#u226_img {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:31px;
}

.u227 {
    position:absolute;
    left:2px;
    top:8px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:46px;
    top:63px;
    width:144px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u228_text_sketch {
    font-family: 'Applied Font';
}

#u229 {
    position:absolute;
    left:223px;
    top:10px;
    width:29px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u230_normal {
    background-image: url('../随便逛逛_files/u183_normal.png');
}

.u230_container {
    position:absolute;
    left:0px;
    top:203px;
    width:263px;
    height:177px;
}

#u230_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:177px;
}

.u231 {
    position:absolute;
    left:2px;
    top:80px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

