body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:2px;
    top:3px;
    width:313px;
    height:619px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u1 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../通知公告_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:27px;
    top:116px;
    width:263px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../通知公告_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:27px;
    top:116px;
    width:263px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../通知公告_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:27px;
    top:116px;
    width:263px;
    height:49px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../通知公告_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:34px;
    top:128px;
    width:58px;
    height:26px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:118px;
    top:131px;
    width:90px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../通知公告_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:35px;
    top:179px;
    width:249px;
    height:122px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:255px;
    height:128px;
}

.u12 {
    position:absolute;
    left:2px;
    top:53px;
    width:245px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:40px;
    top:233px;
    width:238px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../通知公告_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:40px;
    top:216px;
    width:236px;
    height:15px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:236px;
    height:15px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:44px;
    top:187px;
    width:225px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:34px;
    top:126px;
    width:58px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u18 {
    position:absolute;
    left:340px;
    top:30px;
    width:577px;
    height:440px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:340px;
    top:500px;
    width:570px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../通知公告_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:34px;
    top:316px;
    width:250px;
    height:34px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:40px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:246px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../通知公告_files/u20_normal.png');
}

.u22_container {
    position:absolute;
    left:34px;
    top:355px;
    width:250px;
    height:34px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:40px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:246px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../通知公告_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:34px;
    top:395px;
    width:250px;
    height:34px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:40px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:246px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../通知公告_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:34px;
    top:435px;
    width:250px;
    height:34px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:40px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:246px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:259px;
    top:323px;
    width:19px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:259px;
    top:361px;
    width:19px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:257px;
    top:402px;
    width:19px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:257px;
    top:442px;
    width:19px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:34px;
    top:316px;
    width:252px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u33 {
    position:absolute;
    left:32px;
    top:356px;
    width:252px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:34px;
    top:395px;
    width:252px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u35 {
    position:absolute;
    left:32px;
    top:435px;
    width:252px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u36 {
    position:absolute;
    left:35px;
    top:179px;
    width:252px;
    height:122px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

