body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../查看照片评论和转发_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:49px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:16px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:20px;
    top:10px;
    width:313px;
    height:619px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:619px;
}

.u3 {
    position:absolute;
    left:2px;
    top:302px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../查看照片评论和转发_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:45px;
    top:125px;
    width:263px;
    height:380px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:386px;
}

.u5 {
    position:absolute;
    left:2px;
    top:182px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../查看照片评论和转发_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:52px;
    top:136px;
    width:58px;
    height:26px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:52px;
    top:134px;
    width:58px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u9_normal {
    background-image: url('../查看照片评论和转发_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:66px;
    top:170px;
    width:222px;
    height:300px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:306px;
}

.u10 {
    position:absolute;
    left:2px;
    top:144px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../查看照片评论和转发_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:420px;
    top:40px;
    width:263px;
    height:810px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:816px;
}

.u12 {
    position:absolute;
    left:2px;
    top:397px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../查看照片评论和转发_files/u6_normal.png');
}

.u13_container {
    position:absolute;
    left:424px;
    top:51px;
    width:58px;
    height:26px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:32px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:424px;
    top:49px;
    width:58px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u16_normal {
    background-image: url('../查看照片评论和转发_files/u9_normal.png');
}

.u16_container {
    position:absolute;
    left:442px;
    top:85px;
    width:222px;
    height:300px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:306px;
}

.u17 {
    position:absolute;
    left:2px;
    top:144px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../查看照片评论和转发_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:438px;
    top:450px;
    width:222px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:22px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../查看照片评论和转发_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:263px;
    height:3px;
}

.u20 {
    position:absolute;
    left:421px;
    top:430px;
    width:263px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:530px;
    top:400px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:589px;
    top:400px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:450px;
    top:460px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:580px;
    top:520px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_text_sketch {
    font-family: 'Applied Font';
}

.u25_line {
    background-image: url('../查看照片评论和转发_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:230px;
    height:3px;
}

.u25 {
    position:absolute;
    left:434px;
    top:557px;
    width:230px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../查看照片评论和转发_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:436px;
    top:577px;
    width:33px;
    height:33px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:485px;
    top:577px;
    width:28px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:484px;
    top:593px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:642px;
    top:577px;
    width:30px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../查看照片评论和转发_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:649px;
    top:593px;
    width:16px;
    height:14px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:14px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-1px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../查看照片评论和转发_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:239px;
    height:3px;
}

.u33 {
    position:absolute;
    left:436px;
    top:618px;
    width:239px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:485px;
    top:630px;
    width:28px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:484px;
    top:646px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:628px;
    top:630px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../查看照片评论和转发_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:649px;
    top:645px;
    width:16px;
    height:15px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:15px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../查看照片评论和转发_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:441px;
    top:669px;
    width:233px;
    height:80px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:86px;
}

.u40 {
    position:absolute;
    left:2px;
    top:32px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../查看照片评论和转发_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:455px;
    top:678px;
    width:203px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:603px;
    top:719px;
    width:56px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 11px;
    color:#FF9900;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43_text_sketch {
    font-family: 'Applied Font';
}

.u44_normal {
    background-image: url('../查看照片评论和转发_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:463px;
    top:718px;
    width:24px;
    height:11px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:11px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-2px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../查看照片评论和转发_files/u26_normal.png');
}

.u46_container {
    position:absolute;
    left:438px;
    top:629px;
    width:33px;
    height:33px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../查看照片评论和转发_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:0px;
    top:4px;
    width:241px;
    height:3px;
}

.u48 {
    position:absolute;
    left:431px;
    top:759px;
    width:241px;
    height:10px;
    
}

.u49_normal {
    background-image: url('../查看照片评论和转发_files/u26_normal.png');
}

.u49_container {
    position:absolute;
    left:438px;
    top:779px;
    width:33px;
    height:33px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:487px;
    top:779px;
    width:28px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:486px;
    top:795px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:644px;
    top:779px;
    width:30px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../查看照片评论和转发_files/u31_normal.png');
}

.u54_container {
    position:absolute;
    left:651px;
    top:795px;
    width:16px;
    height:14px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:14px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-1px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../查看照片评论和转发_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:239px;
    height:3px;
}

.u56 {
    position:absolute;
    left:438px;
    top:820px;
    width:239px;
    height:10px;
    
}

